body {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    min-height: 100vh;  /* stretch body over the full height of viewport and fix the footer at the bottom of the page */
    margin: 0 auto;     /* removes outer space so we dont have a scrollbar*/
    max-width: 1000px;  /* enable automatic wrapping of labels and input fields if users resizes the window */
}
div {
    padding: 4px;
}

header {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

footer {
    font-size: 0.8em;
}

main {
    flex: 1 100%;   /* Applying flex: 1 to the flex items makes them occupy an equal amount of space relative to the full width of the container. */
}

#navigation {
    align-items: center;
    background-color: #c8ffb6;
    display:flex;
    height: 45px;
    justify-content: space-between;
    padding: 10px;
}

#filter-sortby-container {
    align-items: left;
    background-color: #e6ffd5;
    color: #444;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

#toggle-finished {
    margin-left: auto;
}

.dropdown option, .dropdown:after, .dropdown::after, .dropdown select {
    color: #fff;
}

.dropdown select, .dropdown:after, .dropdown::after {
    display: block;
    background: #51b749;
}

.dropdown select, .dropdown option {
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 0;
}

.dropdown select {
    height: 34px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    outline: 0 none;
    vertical-align: middle;
}

.dropdown option {
    background: #fff;
    color: #333;
}

/* === buttons === */
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-active {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.btn-inactive {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-action {
    background-color: #51b749;
    border-color: #ccc;
    color: #fff;
}

.btn-action:hover {
    background-color: #398033;
    border-color: #ccc;
    color: #fff;
}
/* /buttons */

/* === notes listing === */
#notes-container {
    background-color: #e6ffd5;
    font-size: 0.9em;
}

.note-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.note-item:nth-child(even)
{
    background-color: #fff;
}
div.note-item:nth-child(odd)
{
    background-color: #eee;
}

.note-item div {
    box-sizing: border-box;
}

.note-date  {
    width:200px;
}

.note-information {
    width:70%;
    display: block;
    overflow: hidden;
}

.title-wrapper {
    display: inline;
}
.note-title {
    float:left;
    font-weight: bold;
}

.note-importance {
    float:right;
    width: 110px;
}

.note-description {
    font-size: 0.9em;
    padding: 4px;
}

.note-actions {
    padding: 4px;
}


/* /notes listing */

/* === add form === */

/* === add form === */
#addform-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.addform ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}
.addform li{
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}
.addform li:first-child, .addform li:last-child {
    border-bottom: 1px solid #777;
}
.addform h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color: #d45252;
    display: inline;
    float: right;
    font-size: 0.9em;
    margin: 5px 0 0 0;
}

.addform label {
    width: 150px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.addform input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}
.addform textarea {
    padding:8px;
}
.addform button {
    margin-left: 10px;
}

.addform input, .addform textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding-right: 30px;
    transition: padding .25s;
    width: 60%;
}
.addform input:focus, .addform textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}
.addform input:required, .addform textarea:required {
    background: #fff url('../images/red_asterisk.png') no-repeat 98% center;
}
.addform input:required:valid, .addform textarea:required:valid {
    background: #fff url('../images/valid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.addform input:focus:invalid, .addform textarea:focus:invalid {
    background: #fff url('../images/invalid.png') no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.addform input:focus + .form_hint {display: inline;}
.addform input:required:valid + .form_hint {background: #28921f;}
.addform input:required:valid + .form_hint::before {color:#28921f;}

.center {
    text-align: center;
}

/* === rating of importance === */
.rating {
    display: inline-block;
    width: 7.5em;
    height: 1.2em;
    overflow: hidden;
    vertical-align: bottom;
}

.rating > input[type="radio"] {
    margin-right: -100%;    /* prevents radio buttons affecting the layout */
    opacity: 0;             /* hide the radio buttons */
}

.rating > label {
    background: url('../images/star-off.svg');
    background-size: contain;
    display: block;
    float: right;
    position: relative;
    width: 20%;
}

.rating > label:before {
    background: url('../images/star-on.svg');
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    opacity: 0;
    transition: opacity 0.1s linear;
    width: 1.5em;
}

.rating:not(old) > label:hover:before,
.rating:not(old) > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
