body {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;  /* senkrechte ausrichtung */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    min-height: 100vh; /* damit sich der body über die gesamte Höhe des Viewports erstreckt und der Footer unten fixiert bleibt */
    margin: 0 auto; /* entfernt Außenabstand, sodass keine Scrollbalken entstehen */
}
div {
    padding: 4px;
}

header, footer {
    background-color: #c4d7cc;
    padding: 8px;
    white-space: nowrap;
}

footer {
    font-size: 0.8em;
}

main {
    flex: 1 100%;   /* Applying flex: 1 to the flex items makes them occupy an equal amount of space relative to the full width of the container. */
    padding: 8px;
}

#navigation {
    align-items: center;
    background-color: #c8ffb6;
    display:flex;
    height: 45px;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;
    padding: 10px;
}

#filter-sortby-container {
    background-color: #e6ffd5;
    display: -webkit-flex;
    display: flex;
    color: #444;
    align-items: left;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#toggle-finished {
    margin-left: auto;
}

.dropdown option, .dropdown:after, .dropdown::after, .dropdown select {
    color: #fff;
}

.dropdown select, .dropdown:after, .dropdown::after {
    display: block;
    background: #51b749;
}

.dropdown select, .dropdown option {
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 0;
}
/*
.dropdown::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
}*/

.dropdown select {
    height: 34px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    outline: 0 none;
    vertical-align: middle;
}

.dropdown option {
    background: #fff;
    color: #333;
}

/* buttons */
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-active {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.btn-inactive {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.btn-action {
    background-color: #51b749;
    border-color: #ccc;
    color: #fff;
}

.btn-action:hover {
    background-color: #398033;
    border-color: #ccc;
    color: #fff;
}
/* /buttons */